<app-header>
	<div class="wrapper-header-memory">
		<div class="content-header-memory">
			<div style="margin-right: 20px">
				<div class="processes-stats__title">Tempo</div>
				<div class="processes-stats__content">{{ timerInSeconds$ | async | number:'1.0-0'}}</div>
			</div>
			<div>
				<div class="processes-stats__title" style="margin-right: 20px">
					Processos
				</div>
				<div class="processes-stats__content">
					{{ (availableProcesses$ | async)?.length! }}
				</div>
			</div>
			<div>
				<div class="title">Tipos de Alocação</div>
				<div style="display: flex; align-items: center">
					<div class="content">
						{{ blockScaling$ | async | blockScalingTypeDescription }}
					</div>
					<button
						mat-icon-button
						type="button"
						(click)="openBlockScalingTypeDialog()"
					>
						<mat-icon>edit</mat-icon>
					</button>
				</div>
			</div>
		</div>
		<button mat-raised-button color="primary" (click)="stopProcesses()">
			Parar
		</button>
	</div>
</app-header>

<div class="process-memory">
	<div class="process-memory__title">
		<h1>Gerência de Memória</h1>
		<button mat-raised-button color="primary" (click)="createProcess()">
			Criar processo
		</button>
	</div>

	<div
		*ngIf="isContiguousScalingType(blockScaling$ | async); else pagingMemoryLayout"
		class="process-memory__wrapper-memory"
	>
		<div class="process-memory__containerBlocos">
			<div
				*ngFor="let box of blocks$ | async; let i = index"
				class="process-memory__blocos"
				[ngClass]="{ 'empty-box': box.process, 'colored-box': !box.process }"
				[style.background-color]="box.process?.color"
				[attr.id]="'box_' + i"
				(click)="box.process ? editProcess(box.process) : null"
			>
				<span class="block-index">{{ i }}</span>
				<span *ngIf="box.process" class="block-info">
					{{ box.process.id }}
				</span>
			</div>
		</div>

		<div class="process-memory__sequences-info">
			<div class="process-memory__title-sequences-info">
				<h2>Sequências</h2>
			</div>
			<table>
				<thead>
					<tr>
						<th style="padding-right: 10px; border-right: 1px black solid">
							Blocos<br />Contíguos
						</th>
						<th style="padding-left: 10px">Bloco<br />Inicial</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let sequence of sequences$ | async; let rowIndex = index">
						<td>{{ sequence.length }}</td>
						<td>{{ sequence.start }}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<ng-template #pagingMemoryLayout>
		<div class="process-memory__paging-columns">
			<div class="process-memory__memories-column">
				<div class="memory-title memory-title--in-column">
					<h2>Memória Física</h2>
				</div>
				<div class="process-memory__containerBlocos process-memory__containerBlocos--flat">
					<div
						*ngFor="let box of blocks$ | async; let i = index"
						class="process-memory__blocos"
						[ngClass]="{ 'empty-box': box.process, 'colored-box': !box.process }"
						[style.background-color]="box.process?.color"
						[attr.id]="'box_' + i"
						(click)="box.process ? editProcess(box.process) : null"
					>
						<span class="block-index">{{ i }}</span>
						<span *ngIf="box.process" class="block-info">
							{{ box.process.id }}
						</span>
					</div>
				</div>

				<ng-container *ngIf="useSwap$ | async">
					<div class="memory-title memory-title--in-column memory-title--after-ram">
						<h2>Memória Virtual / Swap</h2>
					</div>
					<div
						class="process-memory__containerBlocos process-memory__containerBlocos--flat process-memory__containerBlocos--swap-area"
					>
						<div
							*ngFor="let box of swapBlocks$ | async; let i = index"
							class="process-memory__blocos"
							[ngClass]="{ 'empty-box': box.process, 'colored-box': !box.process }"
							[style.background-color]="box.process?.color || '#e0e0e0'"
							[attr.id]="'swap_box_' + i"
						>
							<span class="block-index">Swap {{ i }}</span>
							<span *ngIf="box.process" class="block-info">
								{{ box.process.id }}
							</span>
						</div>
					</div>
				</ng-container>
			</div>

			<aside class="process-memory__table-page process-memory__table-page--right">
				<h2>Tabela de páginas</h2>
				<div class="process-memory__wrapper-pages">
					<div *ngFor="let process of notFinishedProcesses">
						<div class="process-row">
							<div
								*ngFor="let pageNumber of getPageNumbers(process)"
								class="memory-container"
								[ngClass]="{
									na: isProcessNotAllocated(process),
									swap: isProcessShowingSwap(process),
									fisica:
										!isProcessShowingSwap(process) &&
										!isProcessNotAllocated(process)
								}"
							>
								<div
									class="page-rectangle"
									[class.page-rectangle--na]="isProcessNotAllocated(process)"
									[ngStyle]="
										isProcessNotAllocated(process)
											? {}
											: { 'background-color': process.color }
									"
									(click)="editProcess(process, pageNumber)"
								>
									Processo: <br />{{ process.id }} <br />
									Página: {{ pageNumber }}
								</div>

								<div class="memory-type">
									{{
										isProcessNotAllocated(process)
											? 'N/A'
											: isProcessShowingSwap(process)
												? 'SWAP'
												: 'FÍSICA'
									}}
								</div>
							</div>
						</div>
					</div>
				</div>
			</aside>
		</div>
	</ng-template>
</div>
